# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# SwiftPM
.build/

# Tooling
.idea/
.vscode/

# Local reference repositories
extensions-source/
